.right_panel {
    float: left;
}

.left_panel {
    float: left;
}


td {
    text-align: center;
    border: 1px solid gray;
    width: 30px;
    height: 30px;
}

td.suited_card {
    background-color: #666666;
    color: white;
}

td.offsuit_card {
    background-color: #BBBBBB;
}

td.same_card {
    background-color: #EEEEEE;
}

td.selected_card1 {
    background-color: #74226c;
    color: white;
}

td.selected_card2 {
    background-color: #b168a9;
    color: white;
}

td.selected_card3 {
    background-color: #EE2222;
    color: white;
}

td.selected_card4 {
    background-color: #3ADF00;
    color: white;
}

td.selected_card5 {
    background-color: #0101DF;
    color: white;
}

td.selected_card6 {
    background-color: #FF0000;
    color: white;
}

#sheets_selector td {
    width: auto;
    text-align: left;
}